.person {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    border: 1px solid black;

    justify-content: space-between;
    padding: 10px 14px;

    // .main-person-info {
    .mainPersonInfo {
        img {
            border-radius: 6px;
        }
    }
}

.male {
    background: rgb(91, 91, 181);
}

.female {
    background: rgb(199, 88, 88);
}
