@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.header {
    display: flex;
    font-size: 64px;
    color: #fff;
    align-items: center;
    height: 100%;
    font-family: "Amatic SC", sans-serif;
}
