@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&family=Press+Start+2P&display=swap');
@import url('./reset.css');

body {
	background-image: url('./assets/appBackground.png');
	background-size: cover;
	color: #fff;
	font-family: 'Commissioner', sans-serif !important;
}